
<AuthorizeView>
    <Authorized>

    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                Welceme , @context.User.Identity!.Name
            </a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="/home/dashboard">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link p-2"  @onclick="ShowAdminMenuContainer" style="cursor:pointer;" href="javascript:void()">
                        <div class="hstack gap-1">
                            <span class="bi bi-person-fill fs-3 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                            <span>Adminstration</span>
                        </div>
                    </NavLink>
                    <a class="nav-link p-2 text-white" style="margin-left:5rem; cursor:pointer; visibility:@CssStyle">
                        <div class="hstack" @onclick="UserClicked">
                            <span class="bi bi-people fs-5 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                            <span>Users</span>
                        </div>
                    </a>
                </div>
                <div class="nav-item px-3" style="margin-top:@DepartmentMargin">
                    <NavLink class="nav-link p-2" @onclick="ShowDepartmentContainer" style="cursor:pointer;" href="javascript:void()">
                        <div class="hstack gap-1">
                            <span class="bi bi-backpack4-fill fs-3 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                            <span>Management</span>
                        </div>
                    </NavLink>
                    <div class="nav-link p-2 text-white" style="margin-left:2rem; visibility:@DepartmentCssStyle">
                        <ul class="list-group">
                            <li style="list-style:none " class="cursorStyle">
                                <a class="nav-link p-2 cursorSyle" @onclick="GeneralDepartmentClicked">
                                    <div class="hstack text-wrap">
                                        <span class="bi bi-file-medical fs-5 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Generaldepartment </span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none " class="cursorStyle" @onclick="DepartmentClicked">
                                <a class="nav-link p-2 cursorSyle">
                                    <div class="hstack">
                                        <span class="bi bi-substack fs-5 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Department</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none"  @onclick="BranchtClicked">
                                <a class="nav-link p-2 cursorSyle">
                                    <div class="hstack">
                                        <span class="bi bi-chevron-bar-contract  fs-5 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Branch</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none">
                                <hr />
                            </li>
                            <li style="list-style:none" @onclick="CountryClicked">
                                <a class="nav-link p-2 cursorSyle">
                                    <div class="hstack">
                                        <span class="bi bi-geo-alt  fs-5 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Country</span>
                                    </div
                                </a>
                            </li>
                            <li style="list-style:none" @onclick="CityClicked">
                                <a class="nav-link p-2 cursorSyle">
                                    <div class="hstack">
                                        <span class="bi bi-pin-map-fill  fs-5 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">City</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none" @onclick="TownClicked">
                                <a class="nav-link p-2 cursorSyle">
                                    <div class="hstack">
                                        <span class="bi bi-map  fs-5 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Town</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none">
                                <hr />
                            </li>
                            <li style="list-style:none" @* @onclick="BranchtClicked" *@>
                                <a class="nav-link p-2 cursorSyle">
                                    <div class="hstack">
                                        <span class="bi bi-person  fs-5 text-center " aria-hidden="true" style="margin-top:-2rem"></span>
                                        <span class="fs-6">Employees</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </div>

    </Authorized>
</AuthorizeView>

<style>
    .cursorSyle {
        cursor: pointer;
    }
</style>


@code {
    public string DepartmentMargin { get; set; } = "-3.5rem";
    private string CssStyle = "hidden";
    public bool ShowHide { get; set; } = false;

    private void ShowAdminMenuContainer()
    {
        ShowHide = !ShowHide;
        if (ShowHide)
        {
            DepartmentMargin = "0";
            CssStyle = "visible";
        }
        else
        {
            DepartmentMargin = "-3.5rem";
            CssStyle = "hidden";
        }

    }

    private string DepartmentCssStyle = "hidden";
    public bool ShowHideDepartment { get; set; } = false;

    private void ShowDepartmentContainer()
    {
        ShowHideDepartment = !ShowHideDepartment;
        if (ShowHideDepartment)
            DepartmentCssStyle = "visible";
        else
            DepartmentCssStyle = "hidden";

    }



    //Click in  links 
    void GeneralDepartmentClicked() => allstate.GeneralDepartmentClicked();

    void DepartmentClicked() => allstate.DepartmentClicked();
    void BranchtClicked() => allstate.BrachClicked();
    void UserClicked() => allstate.UserClicked();
    void CountryClicked() => allstate.CountryClicked();
    void CityClicked() => allstate.CityClicked();
    void TownClicked() => allstate.TownClicked();



    //Toggle nav menu
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }



}
