@implements IDisposable

@if (allstate.ShowGeneralDepartment)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header" >
                        <h4 class="float-start" >General Department</h4>
                        <button class="btn btn-outline-success float-end" @onclick="OpenDialog" >
                            <i class="bi bi-plus-circle-dotted"></i> 
                            Add Department
                        </button>
                    </div>
                    <div class="card-header"> 
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>mark</td>
                                        <td>otto</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>iman</td>
                                        <td>sabet</td>
                                        <td>fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>larry</td>
                                        <td>twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
 <GeneralDepartmentDialog  @ref="generalDepartmentDialog" />

@code {
    GeneralDepartmentDialog? generalDepartmentDialog;

    GeneralDepartment Department = new();
    protected override void OnInitialized()
    {
        allstate.Action += StateHasChanged;
    }
    void OpenDialog()
    {
        generalDepartmentDialog?.OpenDialog();
    }


    public void Dispose()
    {
        allstate.Action -= StateHasChanged;
    }
}
