@implements IDisposable

@if (allstate.ShowGeneralDepartment)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header " >
                        <h4 class="float-start" >General Department</h4>
                        <button class="btn btn-outline-success float-end" @onclick="OpenDialog" >
                            <i class="bi bi-plus-circle-dotted"></i> 
                            Add Department
                        </button>
                    </div>
                    <div class="card-header " style="max-height:580px; overflow-x:hidden; overflow-y:scroll;"> 
                        <div class="card-body">
                            @if (isLoading)
                            {
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            }
                            else
                            {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col">General Department</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (GeneralDepartments != null && GeneralDepartments.Count > 0)
                                        {
                                        int count = 1;
                                        foreach (var item in GeneralDepartments)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info" id="cursorSyle" @onclick="()=>EditClicked(item)"> </i>
                                                    <i class="bi bi-trash text-danger" id="cursorSyle" @onclick="()=>DeleteClicked(item)"> </i>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                         <tr>
                                                <td colspan="4">
                                                    <div class="alert alert-info text-center">No General Department Added Yet!</div>
                                                </td>
                                         </tr>
                                    }
                                </tbody>
                            </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<GeneralDepartmentDialog @ref="generalDepartmentDialog" 
    HandleSaveOperationEvent="HandleSaveOperationEvent"
    GeneralDepartment="GeneralDepartment" />


<style>
    .cursorSyle
    {
        cursor:pointer;
    }
</style>

@code {
    GeneralDepartmentDialog? generalDepartmentDialog;
    GeneralDepartment GeneralDepartment = new();

    public List<GeneralDepartment> GeneralDepartments { get; set; } = new();

    public string Title { get; set; } = "Add";

    private bool isLoading = true;


    protected override async Task OnInitializedAsync()
    {
        await GetGeneralDepartments();
        allstate.Action += StateHasChanged;
    }
    private async Task GetGeneralDepartments()
    {
        isLoading = true;
        GeneralDepartments = await generalDepartmentService.GetAll(Constants.GeneralDepartmentBaseUrl);
        isLoading = false;
    }

    void OpenDialog()
    {
        generalDepartmentDialog?.OpenDialog();
    }


    public void Dispose()
    {
        allstate.Action -= StateHasChanged;
    }


    private async Task HandleSaveOperationEvent(GeneralDepartment generalDepartment)
    {
        bool successCheck = false;
        if (generalDepartment.Id > 0)
        {
            var result = await generalDepartmentService.Update(generalDepartment, Constants.GeneralDepartmentBaseUrl);
            successCheck = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var response = await generalDepartmentService.Insert(generalDepartment, Constants.GeneralDepartmentBaseUrl);
            successCheck = await DisplayMessage(response.Flag, response.Message);
        }
        if (successCheck)
        {
            GeneralDepartment = new();
            await GetGeneralDepartments();
            generalDepartmentDialog?.ChangeTitle("Add");
        }
    }


    private void EditClicked(GeneralDepartment dep)
    {
        generalDepartmentDialog?.ChangeTitle("Update");
        GeneralDepartment = dep;
        OpenDialog();
    }

    private async Task DeleteClicked(GeneralDepartment dep)
    {
        bool confirm = await dialogService.ConfirmAsync($"Delete `` {dep.Name} `` ?", "Yes Delete it!");
        if (!confirm) return;
        var response = await generalDepartmentService.DeleteById(dep.Id, Constants.GeneralDepartmentBaseUrl);
        if (await DisplayMessage(response.Flag, response.Message))
            await GetGeneralDepartments();

    }



    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
        {
            await dialogService.AlertAsync(message, "Success operation");
            return true;
        }
        else
        {
            await dialogService.AlertAsync(message, "Alert!");
            return false;
        }

    }



}
